<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Tech News</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Tech Blog</a>
      </h1>
    </header>
    <nav>
      <li><a href="/">Home</a></li>
      <li><a href="dashboard">Dashboard</a></li>
      <li><a href="Login/logout">Login/Logout</a></li>
    </nav>
    <main>
      {{{ body }}}
    </main>
    <footer>
        
    </footer>
  </div>

</body>

</html>